<br>
<h3 style="text-align: center">List of locations</h3>
<br>
<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">City</th>
    <th scope="col">State</th>
    <th scope="col">Photo</th>
    <th scope="col">Perform action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let l of collection">
    <th scope="row">{{l.id}}</th>
    <td>{{l.name}}</td>
    <td>{{l.city}}</td>
    <td>{{l.state}}</td>
    <td>
      <img src="{{l.photo}}" height="75px" width="80px"/>
    </td>
    <td>
      <div >
        <i (click)="removeLocation(l.id)"  class="fa fa-trash" style="font-size:25px;color:red;"></i>
        <!--
         <a class="btn btn-primary" href="#">Details</a> &nbsp;
        <a class="btn btn-danger" href="#">Delete</a> &nbsp;
        <a class="btn btn-warning" href="#">Update</a>
         -->&nbsp;
      </div>
    </td>
  </tr>

  </tbody>
</table>
