<br>
<h3>Add a new location</h3>

<div  *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success !</strong> A new location has been added successfully.
  <button (click)="closeAlert()"  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form [formGroup]="location" (ngSubmit)="collectData()" >
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputID">ID</label>
      <input type="number" class="form-control" id="inputID" placeholder="ID" formControlName="id">
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" formControlName="name" id="inputName" placeholder="Name">
    </div>
  </div>
  <div class="form-group col-md-6">
    <label for="inputCity">City</label>
    <input type="text" class="form-control" formControlName="city" id="inputCity" placeholder="City name">
  </div>
  <div class="form-group col-md-6">
    <label for="inputState">State</label>
    <select id="inputState" class="form-control" formControlName="state">
      <option>Choose a state ...</option>
      <option *ngFor="let s of stateCodes" value="{{s}}">{{s}}</option>
    </select>
  </div>
  <div class="form-group ">
    <label for="cityImg">Upload a photo of the city/state</label>
   <br>
    <input formControlName="photo" type="file" class="form-control-file" id="cityImg">
  </div>

  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="availableUnits">Available Units</label>
      <input formControlName="availableUnits" type="number" class="form-control" id="availableUnits" placeholder="Available Units">
    </div>
    <label >Wifi provided ?</label>
    <div>
      <input formControlName="wifi" class="form-check-input" type="radio"  id="exampleRadios1" value="True" >
      <label class="form-check-label" for="exampleRadios1">
        Yes
      </label>
      &nbsp;
      <input formControlName="wifi" class="form-check-input" type="radio"  id="exampleRadios2" value="False" checked>
      <label class="form-check-label" for="exampleRadios2">
        NO
      </label>
    </div>
    <label >Laundry provided ?</label>
    <div>
      <input formControlName="laundry" class="form-check-input" type="radio"  id="exampleRadios3" value="True" >
      <label class="form-check-label" for="exampleRadios3">
        Yes
      </label>
      &nbsp;
      <input formControlName="laundry" class="form-check-input" type="radio"  id="exampleRadios4" value="False" checked>
      <label class="form-check-label" for="exampleRadios4">
        NO
      </label>
    </div>
  </div>
  <br>
  <button type="submit" class="btn" style="background-color: #F50057">Add</button>

</form>
<img src="./assets/newLocation.png" alt="location" style="float: right;margin-top: -45%">
