<nav class="navbar navbar-expand-lg  " style="background-color: #f50057">
  <a class="navbar-brand text-light" href="#">&nbsp;Locations management</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add location</a>
      <!-- <a class="nav-item nav-link" routerLink="update">Update location</a> -->
      <a class="nav-item nav-link" routerLink="list">List of locations</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
      </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>


